<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="parent"><span class="dot child"></span>&nbsp;<b class="STUDYA">PEOPLES</b><h3 id = "title" class="child"></h3></div>
    <hr class="Divider"/>
    <span class="MailAuthGuideText">메일 인증 안내</span>

    <p>안녕하세요. <br> PEOPLES 가입을 환영 합니다! <br> 아래의 <b class = "MailAuthText">[메일 인증]</b> 버튼을 클릭하여 인증을 완료하세요!</p>

    <button class="Button" type="button" onclick="">몌일 인증</button>

    <p class = "BottomText">본 메일은 발신전용입니다. <br> Copyright 2022.PEOPLES All Rights Reserved.</p>
</body>
</html>